<%-include("header2")-%>
  <body>
    <div class="navbar">
      <h1>Contact</h1>
      <ul class="items">
        <li><a href="/" class="hovers">Main</a></li>
        <li><a href="/home" class="hovers">Home</a></li>
        <li><a href="/resume" class="hovers">Resume</a></li>
      </ul>
    </div>

    <div class="container">
      <div class="innercontainer">
        <h2>Here's The Contact Details</h2>

        <p>
          <li>
            <ul>
              Phone :+91- 9880671072
            </ul>
            <ul>
              Email: nitinskolekar@gmail.com
            </ul>
        <ul>
          linked in: https://www.linkedin.com/in/nitin-shreepad-kolekar
        </ul>
          </li>
        </p>
      </div>
      </div>

  </body>
</html>
