<%-include("header2")-%>
  <body>
    <div class="navbar">
        <h1>Home</h1>
        <div class="">
          <ul class="items">
            <li><a href="/" class="hovers">Main</a></li>
            <li><a href="/Resume" class="hovers">Resume</a></li>
            <li><a href="/contact" class="hovers">Contact</a></li>
          </ul>
        </div>

    </div>

    <div class="container">
      <div class="innercontainer">
        <h2>Hi There here's everything that you want to know about me</h2>
        <p>Organized and dependable candidate with proven ability to manage multiple priorities and tasks while maintaining a positive attitude. Has a year of experience in designing the frontend at the same time has an interest in working on the real time projects if given an opportunity, My commitment to organization, dependability, positivity, and adaptability makes me a valuable asset to any team.</p>
      </div>
      </div>

  </body>
</html>
