<%-include("header")-%>
<body>
  <div class="nav">
    <h1>Portfolio</h1>
    <ul class="items">
      <li><a href="/home" class="hovers">Home</a></li>
      <li><a href="/Resume" class="hovers">Resume</a></li>
      <li><a href="/contact" class="hovers">Contact</a></li>
    </ul>
  </div>
  <div class="midcontent">
    <div class="mid-1">
      <h1>Hi, its Nitin sk and this is My Portfolio</h1>
      <p>Organized and dependable candidate with proven ability to manage multiple priorities and tasks while maintaining a positive attitude. Has a year of experience in designing the frontend at the same time has an interest in working on the real time projects if given an opportunity, My commitment to organization, dependability, positivity, and adaptability makes me a valuable asset to any team.</p>
    </div>
  </div>
  <div class="features">
    <div class="inner">
      <div class="feature-inner1">
        <h1>Education</h1>
        <p>
          <li>
            <ul>
            <h1>10th Standuard </h1>
            <p>Jun 2016 - Apr 2017
            Mandara Jnanadayini School

           CGPA : 8.8 cgpa</p>
          </ul>
          <h1>     First And Second Year Pre-University Course</h1>
          <ul>May 2017 - Mar 2019</ul>
          <ul>
            Pace Ultra Modern PU College
          </ul>
          <ul>
            PCME
          </ul>
          <ul>
            Percentage : 87.17 %
          </ul>
          <ul>
          <h1> B.tech</h1>
          <ul>
            Dec 2020 - Jul 2024
          </ul>
          <ul>
            Nitte Meenakshi Institute Of Technology
          </ul>
          <ul>
            Electronics And Communication Engineering
          </ul>

          </ul>


        </li></p>
      </div>
      <div class="feature-inner1">
        <h1>Projects</h1>
        <p><li>
          <ul>Cloud based security system for smart vehicles : A cloud based security system works with the aid of biometric safety device which enables the owner to monitor there smart vehicle remotely.
            </ul>

            <ul>
              FTP traffic analysis uing wireshark : Conducted a comprehensive analysis of FTP (File Transfer Protocol) traffic utilizing the powerful network protocol analyzer, Wireshark. This project involved examining and dissecting FTP communication packets to gain valuable insights into network performance, security vulnerabilities, and overall efficiency.

            </ul>
            <ul>
              Weather forecasting web application using HTML,CSS, Java Script and Node.js: Created a web application that show the real time weather status on a local host.
            </ul>
            <ul>
              Blog Website : Created a personal Blog Website using the MongoDB database.
            </ul>


        </li></p>
      </div>
      <div class="feature-inner1">
        <h1>Certifications</h1>
        <p>
          <li>
            <ul>
              Certificate of Participation in the ' NAMMA YATRI OPEN MOBILITY CHALLENGE' Organised by Namma Yatri
            </ul>
            <ul>
              Certification of completion of the course : Communication Networks  from NPTEL
            </ul>
            <ul>
              Silver badge holder certified in Python from IIT Madras
            </ul>
            <ul>
              Certification of completion of the course : The Complete 2023 Web Development Bootcamp from udemy
            </ul>
          </li>
        </p>
    </div>

  </div>

</body>

</html>
