<%-include("header2")-%>
  <body>
    <div class="navbar">
      <h1>Resume</h1>
      <ul class="items">
        <li><a href="/" class="hovers">Main</a></li>
        <li><a href="/home" class="hovers">Home</a></li>
        <li><a href="/contact" class="hovers">Contact</a></li>
      </ul>
    </div>

    <div class="container">
      <div class="innercontainer">
        <h2>Here's link to my Resume</h2>
        <a href="https://drive.google.com/file/d/1_z6QYgN_JfKpYLir0L0sQGD4vHQ6JweQ/view?usp=drive_link">https://drive.google.com/file/d/1_z6QYgN_JfKpYLir0L0sQGD4vHQ6JweQ/view?usp=drive_link</a>

      </div>
      </div>

  </body>
</html>
