body{
  margin:0;
  padding:0;
}

.nav{
  background-image:linear-gradient(to right,#4A148C,#9C27B0);
  color:white;
  display:flex;
  justify-content:space-between;
  padding:5px 20px 5px 20px;
  align-items:center;
  font-family: 'Ubuntu', sans-serif;
}
.nav a{
  text-decoration:none;
  color:white;
}
li{
  list-style:none;
  padding-right:20px;

}
.items{
  display:flex;
  justify-content:space-between;
}
.midcontent{
  background-color:#F3E5F5;
  display:flex;
  justify-content:center;
  padding:40px 20px 20px 40px;
  line-height:1.5rem;

}
.mid-1{
  max-width:50%;
  font-family: 'Montserrat', sans-serif;
}
.mid-1 h1{
  color:#4A148C;
}
.mid-1 p{
  color:#4A148C;

}
.inner{
  max-width:75%;
  display:grid;
  grid-template-columns:repeat(3,minmax(200px,1fr));
  grid-column-gap:45px;
  font-family: 'Ubuntu', sans-serif;
}

.features{
  display:flex;
  justify-content:center;
  padding:40px 40px 20px 40px;
  color:#6A1B9A;
   background-color:#E1BEE7;
}
.feature-inner1{
   background-image:linear-gradient(to right,#4A148C,#9C27B0);
  border-radius:20px;
  color:white;
  padding:40px;

}
.copyright{
  display:flex;
  justify-content: center;
  background-color:#E1BEE7
}
.hovers:hover{
  background-image:linear-gradient(to right,#F3E5F5,#E1BEE7);
  border-radius: 30px;
  color: #4A148C;
  padding: 10px;
  font-size: 20px
}
@media screen and (max-width:400px) {
  body{
    margin:0;
    padding:0;
  }

  .nav{
    background-image: linear-gradient(to right,#4A148C,#9C27B0);
  color: white;
  display: flex;
  justify-content: flex-end;
  padding: 5px 20px 5px 20px;
  align-items: stretch;
  font-family: 'Ubuntu', sans-serif;
  flex-direction: column;
  }
  .nav a{
    text-decoration:none;
    color:white;
  }
  li{
    list-style:none;
    padding-right:20px;

  }
  .items{
    display:flex;
    justify-content:space-between;
  }
  .midcontent{
    background-color:#F3E5F5;
    display:flex;
    justify-content:center;
    padding:20px 10px 10px 20px;
    line-height:1.5rem;

  }
  .mid-1{
    max-width: 75%;
    font-family: 'Montserrat', sans-serif;
    padding: 40px;
}
  }
  .mid-1 h1{
    color: #4A148C;
    line-height: 35px;
  }
  .mid-1 p{
    color:#4A148C;

  }
  .inner{
   max-width: 100%;
   grid-template-columns: repeat(1,minmax(200px,1fr));
   grid-row-gap: 47px;
   font-family: 'Ubuntu', sans-serif;
   justify-content: start;
   align-content: stretch;
   justify-items: center;
  }

  .features{
    display:flex;
    justify-content:center;
    padding:auto;
    color:#6A1B9A;
     background-color:#E1BEE7;
  }
  .feature-inner1{
     background-image:linear-gradient(to right,#4A148C,#9C27B0);
    border-radius:20px;
    color:white;
    padding:40px;

  }
  .copyright{
    display:flex;
    justify-content: center;
    background-color:#E1BEE7
  }
  .hovers:hover{
    background-image:linear-gradient(to right,#F3E5F5,#E1BEE7);
    border-radius: 20px;
    color: #4A148C;
    padding: 5px;
    font-size: 15px
  }

}
